
:root{
    /* primary color */
    --primary:#2E3092;
    --secondary:#F26C21;
    --tertiary:#4B813B;

    --blue:#2E3092;
    --orange:#F26C21;
    --green:#4B813B;
    --deep-blue:#1C1D58;
    --light-blue:#5859A8;
    --white:#FFFFFF;
    --gray:#666666;
    --light-white:#F4F7FC;
    --light-white2:#F9F9F9;
    --bg-ash:#A1A1A1;
    --deep-orange:rgba(242, 108, 33, 0.55);
    --light-orange:#FCE2D3;
    /* --Provincial-pink:#FCE2D3; */
    --deep-blue2:rgba(46, 48, 146, 0.55);
    --mid-gray:#E8E9FF;
    --deep-green:rgba(75, 129, 59, 0.55);
    --light-green:#6E9363;
    --icon-green:#6FA55F;

    --h1:min(max(2rem, 5vw), 3.25rem);
    --font-size: min(max(2rem, 5vw), 3.25rem);
    /* --h2:2.25rem; */
    --h2:min(max(1.75rem, 4vw), 2.25rem);
    --h3:min(max(1.5rem, 3vw), 2rem);
    /* --font-size: min(max(1.5rem, 4vw), 2rem); */
    --h4:1.5rem;
    --h5:1.375rem;
    --h6:1.25rem;

    --text-md:1.125rem;
    --text-sm:1rem;

    --letter-spacing1:1px;
    --letter-spacing2:2px;

}

.ls-1px{
    letter-spacing: var(--letter-spacing);
}
.vh{
    min-height: 5vw;
}
.padding-y{
    padding: 100px 0;
}
.primary{
    color: var(--primary);
}
.secondary{
    color: var(--secondary);
}
.tertiary{
    color: var(--tertiary);
}
/* text color  */
.txt-deep-blue{
    color: var(--deep-blue);
}
.txt-light-blue{
    color: var(--light-blue);
}
.txt-green{
    color: var(--tertiary);
}
.txt-white{
    color: var(--white);
}
.txt-gray{
    color: var(--gray);
}
.txt-orange{
    color: var(--secondary);
}
.txt-light-orange{
    color: var(--light-orange);
}

/* background color  */

.bg-white{
    background-color: var(--white);
}
.bg-blue{
    background-color: var(--primary);
}
.bg-deep-blue{
    background-color: var(--deep-blue);
}
.bg-light-white{
    background-color: var(--light-white);
}
.bg-light-white2{
    background-color: var(--light-white2);
}
.bg-deep-orange{
    background-color: var(--deep-orange);
}
.bg-ash{
    background-color: var(--bg-ash);
}

/* shape color  */

.shape-primary{
    color: var(--secondary);
}
.shape-secondary{
    color: var(--light-orange);
}
.shape-deep-blue2{
    color: var(--deep-blue);
}
.shape-mid-gray{
    color: var(--mid-gray);
}
.shape-deep-green{
    color: var(--deep-green);
}
.shape-light-green{
    color: var(--light-green);
}

/* icon color  */

.icon-orange{
    color: var(--secondary);
}
.icon-light-orange{
    background-color: var(--light-orange);
}
.icon-green{
    color: var(--icon-green);
}

/* button color  */

.primary-btn{
    background-color: var(--secondary);
    color: var(--white);
}
.secondary-btn{
    background-color: var(--white);
    color: var(--secondary);
}
.font-w600{
    font-weight: 600;
}
.font-w500{
    font-weight: 500;
}
.font-w400{
    font-weight: 400;
}
.font-w300{
    font-weight: 300;
}
/* font size font size font size  */
.m-bottom{
    margin-bottom: 100px ;
}
.m-top{
    margin-top: 100px ;
}
.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
h1{
    font-size: var(--h1);
    font-weight: 600;
}
.h1{
    font-size: var(--h1);
    font-weight: 600;
}

h2{
    font-size: var(--h2);
    font-weight: 600;
}
.h2{
    font-size: var(--h2);
    font-weight: 600;
}
h3{
    font-size: var(--h3);
    font-weight: 600;
}
.h3{
    font-size: var(--h3);
    font-weight: 600;
}
h4{
    font-size: var(--h4);
    font-weight: 600;
}
.h4{
    font-size: var(--h4);
    font-weight: 600;
}
h5{
    font-size: var(--h5);
}
.h5{
    font-size: var(--h5);
}
h6{
    font-size: var(--h6);
    font-weight: 600;
}
.h6{
    font-size: var(--h6);
    font-weight: 600;
}
.txt-md{
    font-size: var(--text-md);
    line-height: 30px;
    letter-spacing: 1px;
}
.txt-sm{
    font-size: var(--text-sm);
    line-height: 28px;
}
.navbar-nav .nav-link {
    font-size: var(--text-md);
    color: var(--deep-blue);
    margin: 0 16px;
    font-weight: 500;
}
ul, li, a{
    text-decoration: none;
    margin: 0;
}
li{
    list-style-type: none;
}
.navbar-nav .nav-link:hover::before{
    content: url(./image/Line.svg);
    margin-left: -25px;
}

html{
    font-family: 'Poppins', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: var(--bg-light-white);
}


button{
    border: none;
    padding: 16px;
    border-radius: 8px;
}
button:hover{
    background-color: var(--deep-orange);
    color: var(--secondary);
    transition: 600ms;
}
button:hover{
    background-color: var(--deep-orange);
    color: var(--secondary);
}
button .txt-md img:hover{
    color: var(--secondary);
}

.navbar-nav a:hover{
    border: none;
    color: var(--orange);
    /* border-bottom: 1px solid orange; */
}

.big-shape{
    max-width: 736px;
}
.big-shape img{
    width: 100%;
}



/* why us  */

.box-padding{
    padding: 24px 24px 0 24px;
    position: relative;

}



/* contact us  */
.contact-us .input-box {
    max-width: 470px;
    z-index: 9;
}
.contact-us .msg-box {
    padding: 40px;
    width: 100%;
}
.msg-box .message {
    padding-bottom: 103px;
}
.msg-box input{
    background: var(--blue);
    color: var(--white);
    margin: 16px 0;
    border: none;
    padding: 10px 4px;
    border-bottom: 1px solid gray;
    width: 100%;
}
.msg-box input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--white);
    opacity: 1; /* Firefox */
  }
.map{
    margin-top: -65px;
}
footer a:hover{
    color: var(--secondary);

}

/* @media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
        }
} */
