/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);


.liniar{
    background: linear-gradient(180deg, rgba(62, 64, 177, 0.55) 0%, rgba(2, 3, 62, 0.92) 100%);
}
.liniar-2{
    background: linear-gradient(180deg, #2E3092 1.24%, rgba(69, 71, 153, 0.917923) 22.85%, rgba(110, 112, 193, 0.67) 100%);
}


.hero-height{
    height: 450px;
}
.hero{
    margin-top: -74px;
}
.hero h1{
    font-size: min(max(2.5rem, 5.5vw), 4.5rem);
}
.mt-50{
    margin-top: 50px;
}
.second-nav{
    padding-top: 66px;
    padding-bottom: 66px;
}
/* service css start  */

/* service css end  */





.working .counter .content-box{
    position: relative;
    padding-top: 24px;  
}
.working .counter .count{
position: absolute;
left: 0;
top: 0;
}
.working .counter .number{
position: absolute;
left: 0;
top: -4px;
}
.content-box-text{
    margin-top: 80px;
}
/* recent project css start  */
.ux-ui .one span{
    margin:5px;
    line-height: 1;
}
/* recent project css end   */


/* testimonial css start  */
.service-testimonial .s-testimonial{
    padding-top: 80px;
    padding-bottom: 80px;
}

.owl-carousel{
    padding: 60px 0;
    width: 100%;
}
.owl-carousel .owl-stage-outer{
    padding:0;
}
.owl-carousel .item{
    /* max-width: 370px; */
    border-radius: 5px;
}
.dp{
    height: 64px;
    max-width: 64px;
}
/* testimonial css end  */


footer{
    padding: 50px 0;
}
.pr
.work-process-width{
    max-width: 850px;
}
.working .content-box{
    /* max-width: 270px; */
    min-height: 270px;
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}



/* shapes css   */
.left-top-shape{
    left: -65%;

}
.sec-3-left-shape{
    transform: translate(-300px , -174px);
    /* right: -23%;
    bottom: -15%; */
}